<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <header><% include ./partials/header %></header>

    <div class="container-fluid">
        <span class="container-fluid" id="banner-text"><h1>The Midwest's #1 Source For Aggregate Minning Equipment.</h1></span>
      <img id="banner-mast" src=".\images\MainPicture.JPG" alt="" />
</div>


  <div class="row" id="info-graph">
    <div class="col-lg-1">

    </div>
<div id="big-box" class="col-lg-10">


    <div id="tri-div" class="col-xs-4 col-md-4">
      <div id="icon-truck" class="row"><i class="fa fa-truck fa-5x"></i>Lorem Ipsum.</div>
      <div id="icon-building" class="row"><i class="fa fa-building fa-5x"></i>Lorem Ipsum.</div>
    </div>

    <div id="tri-div-2" class="col-xs-4 col-md-4">
      <div id="icon-building" class="row"><i class="fa fa-comments fa-5x"></i>Lorem Ipsum.</div>
      <div id="icon-building" class="row"><i class="fa fa-cog fa-5x"></i>Lorem Ipsum.</div>
    </div>

    <div id="tri-div" class="col-xs-4 col-md-4">
      <div id="icon-building" class="row"><i class="fa fa-globe fa-5x"></i>Lorem Ipsum.</div>
      <div id="icon-building" class="row"><i class="fa fa-fire-extinguisher fa-5x"></i>Lorem Ipsum.</div>
    </div>
</div>
<div class="col-lg-1">

</div>
</div>
<div id="sales-div">

</div>
<footer><% include ./partials/footer %></footer>

<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

  </body>
</html>
